body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Markazi Text', 'Phudu',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ///// STUFF */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.list-tyle {
  text-align: left;
  list-style: none;
  padding: 0;
}


.lemon-btn {
  color: black;
  padding: 16px;
  width: 180px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  background-color: #F4CE14;
  border: transparent;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
  cursor: pointer;
}

.section-title {
  font-size: 32px;
  font-family: 'Karla', sans-serif;
}

/* // MAIN MENU  */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color .3s;
}

.nav li a:hover {
  color: rgb(102, 102, 102);
}

.nav li:not(:last-child) {
  margin-right: 20px;
}

/* Hamburger Menu  */
.hamburger-btn {
  display: none;
}

/* /// HEADER */

.header {
  background-color: #495E57;
}

.header-mobile-img {
  display: none;
}

.header-box {
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  color: white;

}

.header-text h1 {
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 85.02%;
  /* 54.413px */
  margin-bottom: -30px;
}

.header-text h2 {
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 85.02%;
}

.header-img {
  position: relative;
  height: 350px;
  border-radius: 16px;
  top: 40px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.473);
}


/* /////// SPECIALS  */
.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}


.specials-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 420px;
  margin-bottom: 20px;
  background-color: #EDEFEE;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.473);

}

.specials-name {
  color: black;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
}

.specials-img {
  height: 200px;
  width: 300px;
}

.specials-info {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.specials-desc {
  color: #000000;
}

.specials-btn {
  width: 200px;
  border: transparent;
  text-align-last: left;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.specials-names {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specials-prices {
  font-weight: bold;
  color: #b83a00;
}

.specials-mobile-btn {
  display: none;
}


/* // TESTIMONIALS  */

.testimonials {
  background-color: #D9D9D9;
  padding-bottom: 25px;
}

.testimonials div h2 {
  text-align: center;
}

.testimonials-cards {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;

}

.testimonial-card {
  padding: 10px;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
}

.testimonial-user {
  display: flex;
  align-items: center;
  gap: 0 15px;
  font-weight: bold;
}

.user-img {
  border-radius: 8px;
  box-shadow: 0 0 1px black;
}

.testimonial-rating {
  text-align: right;
}


/* // RESTAURANT INFO */

.restaurant-section {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 70px;
}

.restaurant-info {
  min-width: 35%;
  max-width: 50%;
  flex: 1;
}

.chefs-img {
  height: 300px;
  width: 250px;
  object-fit: cover;
  object-position: 80%;
  border-radius: 10px;
  /* //uploaded by BB */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.473);
}

.chef-one {
  position: relative;
  left: 50px;
  top: 50px;
}


.restaurant-location {
  margin-top: -20px;
  font-family: Markazi Text;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333333;
}

.restaurant-desc {
  text-align: justify;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

/* // BOOKING PAGE */

.booking-form { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px; 
}

form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.booking-burger {
  width: 400px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
}

label {
  font-weight: 500;
}

input,
select {
  box-sizing: border-box;
  margin: 5px 0;
  width: 100%;
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.submit-form {
  align-self: center;
  width: 150px;
}

.form-btn {
  align-self: center;
}


.booking-page{
  background-color: rgb(73, 94, 87);
  color: white;

}



/* // LOGIN FORM */

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.login-btn {
  margin: 10px 0;
  padding: 10px;
  width: 190px;
  border-radius: 8px;
  background-color: #F4CE14;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:disabled {
  background-color: silver;
}

/* // CONFIRMED BOOKING */

.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-info li {
  width: 250px;
  margin: 10px 0;
  padding: 10px; 
  text-align: center;
  background-color: rgba(192, 192, 192, 0.13);
  border-radius: 8px; 
}

.booking-info li span {
  font-weight: bold;
}






/* /// FOOTER  */


.footer {
  background-color: #D9D9D9;
  width: 100%;

}


.social-media li {
  cursor: pointer;
}

.footer li {
  padding: 9px 0;
}

.footer-item {
  width: 170px;
}

.footer-header {
  color: #495E57;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.footer-box> :first-child {
  align-self: center;
}



.footer-nav li a {
  color: black;
  text-decoration: none;
}


/* ///////////ORDER ONLINE */


.order-online{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-content: center;
  min-height: 46vh;
}


/* //////////// MEDIA QUERIES/////////////////////////// */


@media (max-width: 575.98px) {

  /* //////// HAMBURGER MENU */
  .hamburger-btn {
    z-index: 2;
    display: block;
  }

  .nav {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 420px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: space-around;
  }

  .nav li a {
    color: black;
    font-size: 25px;
  }

  .nav li:not(:last-child) {
    margin-right: 0px;
  }

  .hamburger-display-none {
    display: none;
  }

  .hamburger-display-flex {
    display: flex;

  }


  /* //////// HEADER */
  .lemon-btn {
    padding: 12px;
    width: 140px;
    font-size: 14px;

  }

  .header-box {
    justify-content: center;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .header-text h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: -15px;
  }

  .header-text h2 {
    font-size: 34px;
  }

  .header-img {
    display: none;
  }

  .header-mobile-img {
    display: block;
    height: 250px;
    border-radius: 16px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.473);  
  }

  /* ///////////////////// SPECIALS */

  .special-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .specials-header {
    justify-content: center;
  }

  .specials-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .specials-names {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .specials-menu-btn {
    display: none;
  }

  .specials-mobile-btn {
    display: inline-block;
  }


  /* /////////// TESTIMONIALS  */

  .testimonial-rating {
    text-align: center;
  }

  .testimonials-cards {
    justify-content: center;
    gap: 40px;
  }

  .testimonial-card {
    width: 280px;
    padding: 10px;

    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);

  }


  /* ////////// RESTAURANT INFO  */

  .restaurant-section {
    flex-direction: column;

  }

  .restaurant-info {
    min-width: 0%;
    max-width: 100%;
    flex: 1;
  }

  .chefs-img {
    height: 300px;
    width: 250px;
    object-fit: cover;
    object-position: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.473);
  }

  .chef-one {
    position: relative;
    left: 0;
    top: 0px;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
    z-index: -1;
  }

  .chef-two {
    display: none;
  }

  .restaurant-location {
    text-align: center;
  }

  .restaurant-desc {
    font-size: 16px;
  }

  .section-title {
    text-align: center;
  }


  /* /// FOOTER  */


  .footer {
    background-color: #D9D9D9;
    width: 100%;
  }


  .social-media li {
    cursor: pointer;
  }



  .footer-item {
    width: 40%;
  }

  .footer-header {
    color: #495E57;
  }

  .footer-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 30px;
    padding: 20px;
  }

  .footer-nav li a {
    color: black;
    text-decoration: none;
  }

  .footer-logo {
    align-self: center;
  }

  /* ////// Reservation Form */
  .booking-burger {
    height: 100%;
    width: 95%;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {

  /* //////// HAMBURGER MENU */
  .hamburger-btn {
    z-index: 2;
    display: block;
  }

  .nav {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 420px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: space-around;
  }

  .nav li a {
    color: black;
    font-size: 25px;
  }

  .nav li:not(:last-child) {
    margin-right: 0px;
  }

  .hamburger-display-none {
    display: none;
  }

  .hamburger-display-flex {
    display: flex;

  }


  /* //////// HEADER */
  .lemon-btn {
    padding: 12px;
    width: 150px;
    font-size: 15px;
  }

  .header-box {
    justify-content: center;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .header-text h1 {
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: -15px;
  }

  .header-text h2 {
    font-size: 38px;
  }

  .header-img {
    display: none;
  }

  .header-mobile-img {
    display: block;
    height: 350px;
    border-radius: 16px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.473);
  }

  /* ///////////////////// SPECIALS */

  .special-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .specials-header {
    justify-content: center;
  }

  .specials-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
  }

  .specials-names {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .specials-menu-btn {
    display: none;
  }

  .specials-mobile-btn {
    display: inline-block;
  }


  /* /////////// TESTIMONIALS  */

  .testimonial-rating {
    text-align: center;
  }

  .testimonials-cards {
    justify-content: space-evenly;
    gap: 40px;
  }

  .testimonial-card {
    width: 280px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
  }


  /* ////////// RESTAURANT INFO  */

  .restaurant-section {
    flex-direction: column;
  }

  .restaurant-info {
    min-width: 0%;
    max-width: 100%;
    flex: 1;
  }

  .chefs-img {
    height: 300px;
    width: 250px;
    object-fit: cover;

    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.473);
  }

  .chef-one {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    object-position: top center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
    z-index: -1;
  }

  .chef-two {
    display: none;
  }

  .restaurant-location {
    text-align: center;
  }

  .restaurant-desc {
    font-size: 16px;
  }

  .section-title {
    text-align: center;
  }


  /* /// FOOTER  */


  .footer {
    background-color: #D9D9D9;
    width: 100%;
  }


  .social-media li {
    cursor: pointer;
  }



  .footer-item {
    width: 40%;
  }

  .footer-header {
    color: #495E57;
  }

  .footer-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 30px;
    padding: 20px;
  }

  .footer-nav li a {
    color: black;
    text-decoration: none;
  }

  .footer-logo {
    align-self: center;
  }

  /* ////// Reservation Form */
  .booking-burger {
    height: 100%;
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  /* //////// HAMBURGER MENU */





  /* //////// HEADER */




  /* ///////////////////// SPECIALS */

  .special-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .specials-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }



  .specials-menu-btn {
    display: none;
  }

  .specials-mobile-btn {
    display: inline-block;
  }


  /* /////////// TESTIMONIALS  */

  .testimonial-rating {
    text-align: center;
  }

  .testimonials-cards {
    justify-content: space-around;
    gap: 40px;
  }

  .testimonial-card {
    width: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
  }


  /* ////////// RESTAURANT INFO  */

  .restaurant-section {
    flex-direction: column;
  }

  .restaurant-info {
    min-width: 0%;
    max-width: 100%;
    flex: 1;
  }



  .chef-one {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    object-position: top center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
  }

  .chef-two {
    display: none;
  }

  .restaurant-location {
    text-align: center;
  }

  .restaurant-desc {
    font-size: 18px;
  }

  .section-title {
    text-align: center;
  }


  /* /// FOOTER  */


  .footer {
    background-color: #D9D9D9;
    width: 100%;
  }

  .footer-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0 30px;
    padding: 20px;
  }



  .social-media li {
    cursor: pointer;
  }



  .footer-item {
    width: 20%;
  }

  .footer-header {
    color: #495E57;
  }



  .footer-nav li a {
    color: black;
    text-decoration: none;
  }

  .footer-logo {
    align-self: center;
  }

  /* ////// Reservation Form */
  .booking-burger {
    height: 100%;
    width: 50%;
  }


}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .testimonial-rating {
    text-align: center;
  }

  .testimonials-cards {
    justify-content: space-around;
    gap: 20px;
  }

  .testimonial-card {
    width: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
  }

}